#web_title{
    color: #FFFFFF;
    font-family: comic sans ms;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.top,
.middle,
.bottom {
  display: flex;
  flex-direction: row;
}

.top,
.bottom {
  justify-content: center;
}

.middle {
  justify-content: space-between;
}



#rotateMode {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background-color: #AAAAAA;
    color: white;
    position: relative;
    top: 50%;
    margin-left: auto;
    margin-right: auto;

}

#up,#left,#right,#down{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 50px;
}


